    <div class="row">
      <div class="col-sm-4">
      <%= render 'layouts/sidebar' %>
      </div>
        <div class="col-sm-8">
<div class="panel panel-default">
  <div class="panel-heading">Edit <%= @name %></div>
    <div class="panel-body">
		<%= render 'form' %>
	</div>
</div>
</div>
</div>


